<div class="row">
    <div class="col-md4 mx-auto">
        <div class="card">
            <div class="card-header">
                Registro
            </div>
            <div class="card-body">
                <form (submit)="registro()">
                    <div class="form-group">
                        <input type="text"  name="nombreU" [(ngModel)]='usuario.nombreU' class="form-control" placeholder="Nombre de Usuario" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text"  name="correo" [(ngModel)]='usuario.correo' class="form-control" placeholder="Correo" required>
                    </div>
                    <div class="form-group">
                        <input type="password" name="contrasena" [(ngModel)]='usuario.contrasena' class="form-control" placeholder="Contraseña" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">
                        Registar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>